# API Key
DATA_PORTAL_API_KEY=

# Frontend Settings
FRONTEND_PORT=
VITE_DEV_PROXY_TARGET=

# Backend Settings
BACKEND_PORT=
DEBUG=
PYTHONUNBUFFERED=
SECRET_KEY=

# Database Settings
DB_HOST=
DB_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Elasticsearch / ELK
ELASTICSEARCH_PORT=
ELASTICSEARCH_HOSTS=
ELASTICSEARCH_BONDS_INDEX=
KIBANA_PORT=
